$accent: #fe3e57;
$default: #8d8d8d;
$title: #29282d;
$bg: #f6f6f6;

%quicksand-400 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}
%quicksand-500 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}
%roboto-400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
%roboto-500 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
%roboto-700 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.fancybox-content {
  width: 1280px;
  height: 720px;
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
